@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content" style="margin-top:40px">

    <div class="jumbotron">

        <div class="row">
            <div class="col-md-6">
                <p class="lead">
                    <img src="~/images/portada.jpg" />
                </p>
            </div>
            <div class="col-md-6">
                <p style="font-family: 'Quicksand', sans-serif; font-size:48px; font-weight:600; color:#fff;letter-spacing:2px">
                    Pelea con alguien nuevo e interesante cerca tuyo.
                </p><br />
                
            </div>
        </div>
    </div>
</div>